<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline">
                    <li>
                        <a href="/#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#about">Technologies</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#products">Products</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/#team">Team</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#footer">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-center text-muted small">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4 text-center">
                <ul class="list-inline social-icons icon-circle icon-zoom with-bg">
                    <li><a href="{{ site.social.twitter }}"><i class=" fa fa-twitter"></i></a>
                    </li>
                    <li><a href="{{ site.social.github }}"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="{{ site.social.linkedin }}"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <!--
                    <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
                    </li>
                    -->
                    <li><a href="mailto:info@kitt.ai" data-toggle="modal"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 icon-rotate">
              <p class='text-center text-muted text-small'> 
              Made with <i class="fa fa-heart" style="color:red;"></i> in the city of
              <i class="fa fa-coffee" style="color:#6F4E37;"></i><i class="fa fa-umbrella" style="color:#007FFF;"></i><i class="fa fa-plane" style="color:#0F52BA;"></i><i class="fa fa-diamond" style="color:#50C878;"></i></p>

              <span class='text-center text-muted'>
              <p>Incubated by the <a href="http://allenai.org">Allen Institute for Artificial Intelligence</a>
              <a href="http://allenai.org"><img src="{{ ASSET_PATH }}/img/ai2.png" height="42" alt="Allen Institute for Artificial Intelligence"></a>
              </span>

              </p>
            </div>
        </div>
    </div>

</footer>
