<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/#home">{{ site.title }}</a>
            <!-- <a class="navbar-brand page-scroll" href="#home">
                <img src="{{ ASSET_PATH }}/img/blue-logo-small.png" alt="">
            </a> -->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
              <li class="active"><a href="{{ site.url }}/#home">Home</a></li>
            	<li>
                    <a class="page-scroll" href="{{ site.url }}/#about">Technologies</a>
                </li>            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle page-scroll"
                       data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Products<span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ site.url }}/#products">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="http://parsetron.kitt.ai">Parsetron</a></li>
                        <li><a href="https://lighting.kitt.ai">Semantic Lighting</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="disabled"><a>Answertron</a></li>
                        <li class="disabled"><a>Snowboy</a></li>
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#footer">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
