/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
	font-weight: 300;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    /*text-transform: uppercase;*/
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
	font-weight: 600;
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
	
}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand h1{
	color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}


.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: #444;
	text-transform: uppercase;
	font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
	background: #4772B2;
}

.navbar-custom ul.nav ul.dropdown-menu li {
	border-bottom: 1px solid #f5f5f5;
	background: #4772B2;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
	padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #ffffff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: #4067A0; /*rgba(255,255,255,.2);*/
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}


/* loader */
#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}


@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
	z-index: 9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  animation: shadowSpin 1s ease-in-out infinite;
}

/* misc */
hr {
  margin-top: 10px;
}

/* margins */
.marginbot-0{margin-bottom:0 !important;}
.marginbot-10{margin-bottom:10px !important;}
.marginbot-20{margin-bottom:20px !important;}
.marginbot-30{margin-bottom:30px !important;}
.marginbot-40{margin-bottom:40px !important;}
.marginbot-50{margin-bottom:50px !important;}

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 50px;
    padding-bottom: 50px;
	  display:block;
    position:relative;
    z-index:120;
}


.section-heading h2 {
	font-size: 40px;
	margin-bottom: 10px;
}
.section-heading i {
	margin-bottom: 10px;
}


/* --- section bg var --- */

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #f8f8f8;
}


.bg-dark {
	background: #575757;
}

/* --- section color var --- */

.text-light {
	color: #fff;
}



/* ===========================
--- Intro
============================ */

.intro {
	width:100%;
  height: 100%;
	position:relative;
	
	background: url(../img/bg-ottawa.jpg) no-repeat top center;
  background-size:   cover;
  /* background-color:#2A2D3C;*/
  /* http://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

#intro.intro {
	padding:20% 0 0 0;
}

.intro .slogan {
	text-align: center;
}

.kitt {
    color: white;
}


.kitt:hover,
.kitt:focus {
    text-decoration: none;
    color: #4772B2;
}

.events-object {
    min-height:30px; height:40px;
}

.publication .venue {
    font-style: italic;
}

.publication .title {
    font-weight: bold;
}

.intro .page-scroll {
	text-align: center;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

.intro .slogan h2 {
	color: #FFF;
	text-shadow: none;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	/*text-transform: uppercase;*/
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}

.intro .slogan h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
}

.popover{
    max-width: 100%; // Max Width of the popover (depending on the container!)
}


/* ===========================
--- About
============================ */

.boxed-grey {
	background: #f9f9f9;
	padding: 20px;
}

.team h5 {
	margin-bottom: 10px;
}

.team p.subtitle {
	margin-bottom: 10px;
}

.avatar {
	margin-bottom: 20px;
}

.profile {
	margin-bottom: 20px;
  height: 60px;
  width: 50px;
}

.team-social {
	margin-left: 0;
	padding-left: 0;
	
}

.team-social {
	text-align: center;
}

.team-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.team-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.team-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.team-social .social-facebook a{background: #3873ae;}
.team-social .social-twitter a{background: #62c6f8;}
.team-social .social-dribble a{background: #d74980;}
.team-social .social-deviantart a{background: #8da356;}
.team-social .social-google a{background: #000;}
.team-social .social-vimeo a{background: #51a6d3;}
.team-social .social-facebook a:hover{background: #4893ce;}
.team-social .social-twitter a:hover{background: #82e6ff;}
.team-social .social-dribble a:hover{background: #f769a0;}
.team-social .social-deviantart a:hover{background: #adc376;}
.team-social .social-google a:hover{background: #333;}
.team-social .social-vimeo a:hover{background: #71c6f3;}


/* ===========================
--- Services
============================ */

.school-list {
	margin-bottom: 20px;
  overflow: hidden;
  width: 200px;
  height: 100px;
}	

.school-icon {
	margin-bottom: 20px;
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-size:     cover;
  width: 200px;
  height: auto;
  background-repeat:   no-repeat;
}	

.left-aligned {
  text-align: left;
}

/* ===========================
--- Carousel
============================ */


.carousel h2 {
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

.item{
    background: #333;    
    text-align: center;
    max-height: 480px !important;
    height: 480px;
}

.item.item-narrow{
    background: #333;    
    text-align: center;
    max-height: 380px !important;
    height: 380px;
}

.carousel{
  margin-top: 20px;
	margin-bottom: 20px;
}

.bs-example{
	margin: 20px;
}

.bs-example, .new-caption-area {
    margin: auto;
    color: #000;
  }

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: #333;
}

.carousel-caption h3,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}

.carousel-caption h3 {
  margin: 0 0 5px;
}

.carousel-caption p {
  margin-bottom: 30px;
}


.carousel-indicators {
  margin-bottom: 0px;
}


/* ===========================
--- Contact
============================ */

form#contact-form .form-group label {
	text-align: left !important;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}
form#contact-form input,form#contact-form select,form#contact-form textarea {
	border-radius: 0;
	border: 1px solid #eee;
  -webkit-box-shadow: none;
          box-shadow:  none;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.input-group-addon {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 0;
}

.widget-contact {
	text-align: left;
}


.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}

.company-social {
	text-align: left;
}

.company-social li{
    display: inline-block;
	margin:0 !important;
	padding:0;
}


.company-social a{
	margin:0;
	padding:0;
    display: block;
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
	color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
}
.company-social .social-facebook a{background: #3873ae;}
.company-social .social-twitter a{background: #62c6f8;}
.company-social .social-dribble a{background: #d74980;}
.company-social .social-deviantart a{background: #8da356;}
.company-social .social-google a{background: #000;}
.company-social .social-vimeo a{background: #51a6d3;}
.company-social .social-facebook a:hover{background: #4893ce;}
.company-social .social-twitter a:hover{background: #82e6ff;}
.company-social .social-dribble a:hover{background: #f769a0;}
.company-social .social-deviantart a:hover{background: #adc376;}
.company-social .social-google a:hover{background: #333;}
.company-social .social-vimeo a:hover{background: #71c6f3;}



/* ===========================
--- Footer
============================ */

footer {
	text-align: center;
	padding: 20px 0 ;
	
}

footer p {
  font-size: 20px;
	color: #f8f8f8;
}

address {
  color: #f8f8f8;
}

/* ===========================
--- Elements
============================ */

.btn {
	border-radius: 10px;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle.btn-dark {
    border: 2px solid #4772B2;
    color: #4772B2;
}


.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    background: rgba(255,255,255,.1);
}

.btn-circle.btn-dark :hover,
.btn-circle.btn-dark :focus {
    outline: 0;
    color: #4772B2;
}

.btn-circle.btn-dark :hover i,
.btn-circle.btn-dark :focus i{
    color: #4772B2;
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


#text {
    color: #fff;
    background: #ffcc00;
}

#map {
	height: 500px;
}


.btn-skin:hover,
.btn-skin:focus,
.btn-skin:active,
.btn-skin.active {
  color: #fff;
  background-color: #666;
  border-color: #666;
}


.btn-default:hover,
.btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


/* Media queries */

/* Extra Small Devices, .visible-xs-* */
@media (max-width: 767px) {

	.navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
	}
	
	.navbar.navbar-custom.navbar-fixed-top {
		margin-bottom: 30px;
	}
	
	.tp-banner-container {
		padding-top:40px;
	}

	.page-scroll a.btn-circle {
		width: 40px;
		height: 40px;
		margin-top: 10px;
		padding: 7px 0;
		border: 2px solid #fff;
		border-radius: 50%;
		font-size: 20px;
	}

  .page-scroll a.btn-circle.btn-dark {
    border: 2px solid #4772B2;
    color: #4772B2;
  }

    .section-heading h2 {
      font-size: 20px;
      margin-bottom: 5px;
      margin-top: 20px;
    }
    
    .intro .slogan h4 {
      font-size: 15px;
    }

    .kitt {
        color: white;
    }

	.kitt:hover,
    .kitt:focus {
        text-decoration: none;
        color: #4772B2;
    }

    .item{
        background: #333;    
        text-align: center;
        max-height: 280px !important;
        height: 280px;
    }

    .item.item-narrow{
        background: #333;    
        text-align: center;
        max-height: 220px !important;
        height: 220px;
    }

    .carousel-caption h3{
      font-size: 12px;
    }

    .carousel-caption p {
      margin-bottom: 5;
    }

}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
	
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
	

    .intro-text {
        font-size: 25px;
    }

    .section-heading h2 {
      margin-top: 30px;
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .intro .slogan h4 {
      font-size: 15px;
    }

    .item{
        background: #333;    
        text-align: center;
        max-height: 330px !important;
        height: 330px;
    }

    .item.item-narrow{
        background: #333;    
        text-align: center;
        max-height: 280px !important;
        height: 280px;
    }

    .kitt {
        color: white;
    }

	.kitt:hover,
    .kitt:focus {
        text-decoration: none;
        color: #4772B2;
    }


    .carousel-caption h3{
      font-size: 15px;
    }
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.team.boxed-grey {
		margin-bottom: 30px;
	}
	
	.boxed-grey {
		margin-bottom: 30px;
	}

    .section-heading h2 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .intro .slogan h4 {
      font-size: 30px;
    }

    .item{
        background: #333;    
        text-align: center;
        max-height: 330px !important;
        height: 330px;
    }

    .item.item-narrow{
        background: #333;    
        text-align: center;
        max-height: 220px !important;
        height: 220px;
    }

    .carousel-caption h3{
      font-size: 15px;
    }
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
    
    .intro .slogan h4 {
      font-size: 40px;
    }
}



/*
 pick your color: 
 http://www.w3schools.com/tags/ref_colorpicker.asp 

 */
a,.tp-caption a.btn:hover {
	color: #4772B2;
}
.top-nav-collapse {
	background: #4772B2;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #4772B2;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4772B2;
}

.widget-avatar .avatar:hover {
    border: 5px solid #4772B2;
}

.bg-skin {
	background: #4772B2;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #4772B2;
}

footer {
    background-color: #4772B2;
}

.btn-skin {
  color: #fff;
  background-color: #4772B2;
  border-color: #4772B2;
}
