<!-- About Section -->
<section id="about">
<div class="intro-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-primary">Meet Our Technologies<br>
                    <small>in Natural Language Understanding</small></h2>
            </div>
        </div>
        <br/> <br/> <br/> <br/>

        <div class="row">

            <div class="col-lg-4 col-sm-4">

                <div class="normal-icons icon-circle icon-zoom">
                    <i class="fa fa-database fa-4x" 
                        style="color:white;background-color:#aeb5c5;"></i>
                </div>
                <h3><small>Web Domain</small><br>
                    Question Answering</h3>
                <div class="text-left text-muted">
                    <p><p>Answering natural language questions from web text or knowledge bases, with applications in:</p>

                    <ul>
                        <li>enterprise intelligence</li>
                        <li>educational systems</li>
                        <li>natural language interface to large databases</li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4">

                <div class="normal-icons icon-circle icon-zoom">
                    <i class="fa fa-lightbulb-o fa-4x" 
                        style="color:white;background-color:#FF0084;"></i>
                </div>
                <h3><small>Large Domain</small><br>
                    Semantic Parsing</h3>
                <div class="text-left text-muted">
                    <p><p>Parsing natural language text into executable computer codes, with applications in:</p>

                    <ul>
                        <li>home automation</li>
                        <li>internet of things</li>
                        <li>natural language interface to small databases</li>
                    </ul>
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4">

                <div class="normal-icons icon-circle icon-zoom">
                    <i class="fa fa-microphone fa-4x" 
                        style="color:white;background-color:#018BD3;"></i>
                </div>
                <h3><small>Focused Domain</small><br>
                    Hotword Detection</h3>
                <div class="text-left text-muted">
                    <p><p>Recognizing user-defined keyword speech, with the following merits over automatic speech recognition:</p>

                    <ul>
                        <li>very small footprint (&lt;3MB runtime)</li>
                        <li>respond in real time</li>
                        <li>does not rely on internet connection</li>
                    </ul>
                    </p>
                </div>
            </div>

        </div>
        <br/> <br/> <br/> <br/>
        <a href="#products" class="btn btn-lg btn-primary page-scroll">
            <i class="fa fa-angle-double-down fa-lg"></i>
            &nbsp; See Some Screenshots
        </a>
    </div>
</div>
</section>


