
<!-- the following form is included in the universal footer.html -->

<div class="container">
    <div class="row">

        <h1 class="text-center"><a href="#contactForm" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact Us</a></h1>

    </div>
</div>

<div id="contactForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                        <iframe src="https://docs.google.com/forms/d/1b5cptc5141WkS0tOnvgapIwUYNpsrmywN9s9Ab1Va7Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- /.banner -->
