<section id="products">

 <div class="content-section-b">

    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary"><a href="https://lighting.kitt.ai"><u>Semantic Lighting</u></a><br>
                <small>casting semantics of language on your smartlights</small></h2>
            <p/>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/MayQLw2zOXk?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-a">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Answertron<br>
                <small>Factoid Question Answering</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/k2.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Parsetron<br>
                <small>Robust Semantic Parsing
                    (<a href="https://github.com/Kitt-AI/parsetron">code</a> and
                    <a href="http://parsetron.kitt.ai">docs</a>)</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/microwave.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <div class="container">
        <div class="title text-center">
            <br> <br> <br>
            <h2 class="text-primary">Parsing In Action<br>
                <small>also used by <a href="https://lighting.kitt.ai">Semantic Lighting</a></small>
            </h2>
            <p/>
        </div>
    </div>


    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 well shadowbox-rectangular">
            <video controls	class="embed-responsive-item">
                <source src="{{ ASSET_PATH }}/img/products/parsetron_incremental.mp4" type=video/mp4>
            </video>
        </div>
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="content-section-a">

    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Say "Snowboy"<br>
                <small>Realtime Hotword Detection</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/snowboy.png" alt="" class="img-responsive center-block shadowbox" />
    </div>


    <div class="container">
        <div class="title text-center">
            <br> <br> <br>
            <h2 class="text-primary">Triggering In Action<br>
                <small>with three customized hotwords: <i>"Snowboy", "Ok Google" and "Hey Siri"</i></small></h2>
            <p/>
        </div>
    </div>


    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 shadowbox-rectangular">
            <video controls	class="embed-responsive-item" poster="{{ ASSET_PATH }}/img/products/snowboy_movie_web.jpg">
                <source src="{{ ASSET_PATH }}/img/products/snowboy_movie_web.mp4" type=video/mp4>
                Your browser does not support the video tag. Check it out instead from
                <a href="{{ ASSET_PATH }}/img/products/snowboy_movie_web.mp4">here</a>.
            </video>
        </div>
    </div>


    <!-- /.container -->

</div>
<!-- /.content-section-a -->

</section>
