<section id="products">

<div class="content-section-a">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Icebear<br>
                <small>Factoid Question Answering</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/k2.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Firebird<br>
                <small>Robust Semantic Parsing</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/microwave.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="content-section-a">

    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Say "Snowboy"<br>
                <small>Realtime Hotword Detection</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/snowboy.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->

</section>
