<section id="products">

<div class="content-section-a">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Answertron<br>
                <small>Factoid Question Answering</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/k2.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<div class="content-section-b">


    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Parsetron<br>
                <small>Robust Semantic Parsing
                    (<a href="https://github.com/Kitt-AI/parsetron">code</a> and
                    <a href="http://parsetron.kitt.ai">docs</a>)</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/microwave.png" alt="" class="img-responsive center-block shadowbox" />
    </div>

    <div class="container">
        <div class="title text-center">
            <br> <br> <br>
            <h2 class="text-primary">Parsing In Action<br>
                <small>Also check out our public demo <i class="fa fa-hand-o-right"></i>
                    <a href="http://tweetbulb.kitt.ai" style="text-decoration: underline;">
                        <span style="color:#ff0000;">T</span>
                        <span style="color:#ff7f00;">w</span>
                        <span style="color:#ff3f00;">e</span>
                        <span style="color:#00ff00;">e</span>
                        <span style="color:#00ffff;">t</span>
                        <span style="color:#0000ff;">B</span>
                        <span style="color:#8b00ff;">u</span>
                        <span style="color:#ff0000;">l</span>
                        <span style="color:#ff7f00;">b</span>
                        </a>
                    </small></h2>
            <p/>
        </div>
    </div>


    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 well shadowbox-rectangular">
            <video controls	class="embed-responsive-item">
                <source src="{{ ASSET_PATH }}/img/products/parsetron_incremental.mp4" type=video/mp4>
            </video>
        </div>
    </div>

    <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="content-section-a">

    <div class="container">
        <div class="title text-center">
            <h2 class="text-primary">Say "Snowboy"<br>
                <small>Realtime Hotword Detection</small></h2>
            <p/>
        </div>
        <img src="{{ ASSET_PATH }}/img/products/snowboy.png" alt="" class="img-responsive center-block shadowbox" />
    </div>


    <div class="container">
        <div class="title text-center">
            <br> <br> <br>
            <h2 class="text-primary">Triggering In Action<br>
                <small>with three customized hotwords: <i>"Snowboy", "Ok Google" and "Hey Siri"</i></small></h2>
            <p/>
        </div>
    </div>


    <div class="container">
        <div class="embed-responsive embed-responsive-16by9 shadowbox-rectangular">
            <video controls	class="embed-responsive-item" poster="{{ ASSET_PATH }}/img/products/snowboy_movie_web.jpg">
                <source src="{{ ASSET_PATH }}/img/products/snowboy_movie_web.mp4" type=video/mp4>
                Your browser does not support the video tag. Check it out instead from
                <a href="{{ ASSET_PATH }}/img/products/snowboy_movie_web.mp4">here</a>.
            </video>
        </div>
    </div>


    <!-- /.container -->

</div>
<!-- /.content-section-a -->

</section>
